includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/roave/no-floaters/rules.neon

parameters:
	disallowFloatsEverywhere: true
	ignoreErrors:
		- '#Psr\\SimpleCache\\InvalidArgumentException is not subtype of Throwable#'
